<%- include("header") -%>

<h2>This is the about page of my todo list</h2>

<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo tempora
  blanditiis similique reprehenderit eaque quis cum hic, sunt totam, magni
  voluptatem ratione deserunt voluptatibus voluptates maxime nostrum molestiae
  placeat. Excepturi exercitationem sequi cum corporis?
</p>

<%- include("footer") -%>
